<!-- views/index,js -->
<%- include('./partials/header') %>
<h1>Flight Tracker</h1>
<p> Welcome to my flight tracking app. Feel free to work around with it and let me know if you encounter any issues!</p>
<%- include('./partials/footer') %>
